<!-- extension du partie login clients-->

<!doctype html>
<html lang="en">
  <head>
  	<title>Login 04</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="css/style.css">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container ">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
					<div class="wrap d-md-flex">
						<div class="img" style="background-image: url(images/personnel-livraison-ride-motos-concept-magasinage_1150-34879.avif);">
			      </div>
						<div class="login-wrap p-4 p-md-5">
			      	<div class="d-flex">
			      		<div class="w-100">
			      			<h3 class="mb-4">Delivery</h3>
			      		</div>
								
			      	</div>
							<form action="#" class="signin-form">
			      		<div class="form-group mb-3">
			      			<label class="label" for="name">First Name</label>
			      			<input type="text" class="form-control" placeholder="First Name " required>
			      		</div>
						  <div class="form-group mb-3">
							<label class="label" for="name">Last Name</label>
							<input type="text" class="form-control" placeholder="Last Name" required>
						</div>
						<div class="form-group mb-3">
							<label class="label" for="name">Phone Number</label>
							<input type="text" class="form-control" placeholder="Phone Number" required>
						</div>
						
		            <div class="form-group mb-3">
		            	<label class="label" for="password">Postal Code </label>
		              <input type="password" class="form-control" placeholder="Password" required>
		            </div>
		            <div class="form-group">
		            	<button type="submit" class="form-control btn btn-primary rounded submit px-3">Confirm Delivery</button>
		            </div>
		            
		          </form>
		        </div>
		      </div>
				</div>
			</div>
		</div>
	</section>
	<header class="site-navbar site-navbar-target" role="banner">

        <div class="container">
          <div class="row align-items-center position-relative">

            <div class="col-3 ">
              <div class="site-logo">
                <a href="index.html">REVERSO</a>
              </div>
            </div>

            <div class="col-9  text-right">
              

              <span class="d-inline-block d-lg-none"><a href="#" class="text-white site-menu-toggle js-menu-toggle py-5 text-white"><span class="icon-menu h3 text-white"></span></a></span>

              

              <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
                <ul class="site-menu main-menu js-clone-nav ml-auto ">
					<li><a href="index.html" class="nav-link"><P style="color: grey;">Home</P></a></li>
					<li><a  href="services.html" class="nav-link"><p style="color: grey;">Command</p></a></li>
					<li><a href="barber-shop.html" class="nav-link"><p style="color: grey;">Product</p></a></li>
					<li><a href="blog.html" class="active"><p>Delivery</p></a></li>
					<li><a href="training.html" class="nav-link"><p style="color: grey;">Training</p></a></li>
					<li><a href="contact.html" class="nav-link"><p style="color: grey;">Reclamation</p></a></li>
				   
                </ul>
              </nav>
            </div>

            
          </div>
        </div>

      </header>

	<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>

	</body>
</html>

